page-services {
	.logincontainer{
		margin-top:10px;
		padding:15px;
	}
	.toolbar-background-md{
		background-color:#0bd192;
		color:#fff;
		
	}
	.toolbar-title-md{
		color:#fff;
	}
	.listicon{
		padding-right:5px;
		color:#333;
	}
	.serviceheader{
		background-color: rgb(224,255,231);
		color:#505050;
	}
	.servicename{
		width: 80%;
    	display: inline-block;
		color:#505050;
    	
	}
	
	.statusicons{
		float:right;
	}
	.statusicon{
		text-align:center;
	}
	.statusicon .icon{
		font-size: 22px;
		vertical-align: sub;
		padding-right: 5px;

	}
	.completed{
		color:green;
	}
	.pending{
		color:rgb(207,28,28);
	}
	.headerButtons{
		    background: transparent;
		    font-size: 18px;
		    color: #fff;
	}
	.headerButtons .icon{
		    font-weight: bold;
	}
	.slideeditbtn{
		background-color:rgb(8,200,171);
		color:#fff;
	}
	.slideeditbtn .icon{
		font-size:25px;
	}
	.disbaledbtn{
		background-color:rgb(188,193,188);
		color:rgb(240,241,241);
    	box-shadow: none;
	}
	.disbaled{
		color:rgb(240,241,241);
	}
	.addservicesbtn{
		background-color: #0bd192;
	}
}
