page-addchild {
	.senalogo{
	 	background: url('../assets/img/sena_logo.png') no-repeat transparent;
	    height: 75px;
	    margin-top: 3%;
	    margin-bottom: 7%;
	    margin-left: 25%;
	}
	.scroll-content{
		background-color:rgb(236,236,236);
	}
	.login{
		color: rgb(158, 0, 41);
	    text-align: center;
	    margin-right: 6px;
	    margin-top: 15px;
	}
	.logincontainer{
		margin-top:10px;
		padding:15px;
		background-color:rgb(236,236,236);
	}
	.item-md{
		background-color:rgb(236,236,236);

	}
	.list-md .item-block .item-inner {
    	border-bottom: 1px solid rgb(158,0,41);
	}
	.toolbar-title-md{
		color:#fff;
	}
	.loginbtn{
		background-color:rgb(158,0,41);
		color:rgb(241,191,94);
		border-radius:5px;
		margin-top: 10%;
	}
	.forgotpass{
		color::#0bd192;
		text-align: right;
	    margin-right: 6px;
	    margin-top: 15px;
	}
	.form-line-active input:focus, .form-line-active textarea:focus {
		border: 1px solid green !important;
		box-shadow: 0 0 3px green !important;
		-moz-box-shadow: 0 0 3px green !important;
		-webkit-box-shadow: 0 0 3px green !important;
		}
}
