page-profile {
	.profile-item {
  		text-align: center;
  		background:#0bd192;
  		color:#fff;
	}

	.profile-picture {
	  border: 1px solid rgba(0, 0, 0, 0.25);
	  padding: 3px;
	  border-radius: 100%;
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
	  margin: 0 auto;
	  width: 128px;
	  height: 128px;
	  overflow: hidden;
	  background: url('../assets/img/ian-avatar.png') no-repeat transparent;
	  background-size:100% 100%;

	}

	.profile-picture img {
	  width: 128px;
	  border-radius: 100%;
	}

	.profile-name {
	  padding-top: 20px;
	  font-size: x-large !important;
	  font-weight: bold !important;
	  text-transform: capitalize;
	}
	.headerButtons{
		    background: transparent;
		    font-size: 18px;
		    color: #fff;
	}
	.slideeditbtn{
		background-color:rgb(8,200,171);
		color:#fff;
	}
	.slideeditbtn .icon{
		font-size:25px;
	}
	.servicename{
		width: 80%;
    	display: inline-block;
		color:#505050;
    	
	}
	.profileinputfields .label-md{
		font-size:16px;

	}
	.profileinputfields .input-md{
		font-size:18px;

	}
	.profileinputfields .text-input[disabled] {
	     opacity: 1; 
	}
	.loginbtn{
		background-color:#0bd192;
		color:#fff;
		border-radius:5px;
		margin-top: 10%;
	}
}
